<h2>Features</h2>

<ul>
  {% for feature in site.features %}
  <li><a href="{{ site.baseurl }}{{feature.url}}">{{ feature.post_title }}</a>
    {% if feature.author %}
    by {{ feature.author }}
    {% endif %}
   </a></li>
  {% endfor %}
   <li><a href="nyt">From Our Colleagues at the New York Times</a></li>
</ul>

<h2>Essays</h2>

<ul>
  {% for essay in site.essays %}
  <li><a href="{{ site.baseurl }}{{essay.url}}">{{ essay.post_title }}</a>
    {% if essay.author %}
    by {{ essay.author }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

<h2>Blogs</h2>

<h3>Zunguzungu by Aaron Brady</h3>

<ul>
  {% for blog in site.blogs-zunguzungu %}
  <li><a href="{{ site.baseurl }}{{blog.url}}">{{ blog.post_title }}</a></li>
  {% endfor %}
</ul>

<h3>The Beheld by Autumn Whitefield-Madrano</h3>

<ul>
  {% for blog in site.blogs-the-beheld %}
  <li><a href="{{ site.baseurl }}{{blog.url}}">{{ blog.post_title }}</a></li>
  {% endfor %}
</ul>
